<nav class="navbar navbar-toggleable-md navbar-light bg-faded  navbar-fixed-top">
  <a routerLink="/home"><img src="https://ucarecdn.com/083510f7-691e-446f-a4ef-b64e57ff9961/" class = "myImage" alt="Image"/></a> 
  <b>&nbsp; + &nbsp;</b> 
  <a routerLink="/home"><img src="https://angular.io/assets/images/logos/angularjs/AngularJS-Shield.svg" class = "myImage" alt="Image"/></a> 
</nav>
<br><br>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      We are going to call Loopbacks Model method without writing a service for the same making use of Loopback SDK
    </div>
  </div>
  <div class="row">
      <div class="col-md-12">      
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter Name" #name>
          </mat-form-field>
          <button mat-raised-button color = "primary" (click)="submit(name.value)"> Submit</button>
        </form>
        <div [style.visibility]="greet ? 'visible': 'hidden'" ><h3><span class="badge badge-primary"> {{greet}} </span></h3></div>
      </div>
    </div>
</div>